/* css for button example */
.section {
    padding: 0.5rem 2rem 1rem 2rem;
}
.section:hover {
    background-color: #9290C3;
    transition: color 2s ease-in-out, background-color 0.15s ease-in-out;
    border-radius: 0.5rem;
}